<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Agregar Producto</h2>

        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body scroll-y mx-5 my-7">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="#">
            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_add_user_header"
                data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                
                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Codigo del Producto: </label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input
                        type="text" 
                        name="code"
                        class="form-control form-control-solid mb-3 mb-lg-0"
                        [(ngModel)]="code"
                        placeholder="codigo"
                    />
                    <!--end::Input-->
                    <!-- begin::Errors-->
                    <div
                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                        *ngIf="errors?.code"
                    >
                        <p *ngFor="let error of errors.code">{{ error }}</p>
                    </div>
                    <!-- end::Errors-->
                </div>

                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Nombre: </label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input
                        type="text" 
                        name="name"
                        class="form-control form-control-solid mb-3 mb-lg-0"
                        [(ngModel)]="name"
                        placeholder="nombre"
                    />
                    <!--end::Input-->
                    <!-- begin::Errors-->
                    <div
                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                        *ngIf="errors?.name"
                    >
                        <p *ngFor="let error of errors.name">{{ error }}</p>
                    </div>
                    <!-- end::Errors-->
                </div>

                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <!--begin::Label-->
                    <label class="fw-bold fs-6 mb-2">Descripción: </label>
                    <!--end::Label-->

                    <!--begin::Input-->
                    <input
                        type="text" 
                        name="description" 
                        class="form-control form-control-solid mb-3 mb-lg-0"
                        [(ngModel)]="description"
                        placeholder="Descripción"
                    />
                    <!--end::Input-->
                    
                    <!-- begin::Errors-->
                    <div
                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                        *ngIf="errors?.description"
                    >
                        <p *ngFor="let error of errors.description">{{ error }}</p>
                    </div>
                    <!-- end::Errors-->
                </div>

                <!--begin::Input group-->
                <div class="d-flex flex-column flex-md-row gap-5">
                    <div class="flex-row-fluid">
                        <!--begin::Label-->
                        <label class="form-label">Rubro</label>
                        <!--end::Label-->

                        <select
                            class="form-control form-select-solid fw-bolder"
                            name="category_id"
                            [(ngModel)]="category_id"
                            placeholder="Selec. Rubro"
                            (change)="changeCategory($event)"
                        >
                            <option value="">Ninguno</option>
                            <ng-container *ngFor="let CATEGORY of CATEGORIES">
                                <option [value]="CATEGORY.id">{{ CATEGORY.name }}</option>
                            </ng-container>                                   
                        </select>
                    </div>

                    <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                        <label class="fw-bold fs-6 mb-2">Subrubro: </label>
                        <select
                            class="form-control form-select-solid fw-bolder"
                            name="subcategory_id"
                            [(ngModel)]="subcategory_id"
                        >
                            <option value="">Ninguno</option>
                            <ng-container *ngFor="let SUBCATEGORY of SUBCATEGORIES_SELECTED">
                                <option [value]="SUBCATEGORY.id">{{ SUBCATEGORY.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <!--end::Input group-->
                
                <div class="fv-row mb-7"> 
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Almacén: </label>
                    <!--end::Label-->

                    <!--begin::Select-->
                    <select 
                        class="form-control form-select-solid fw-bolder"
                        name="warehouse_id"
                        [(ngModel)]="warehouse_id"
                    >
                        <ng-container *ngFor="let WAREHOUSE of WAREHOUSES">
                            <option [value]="WAREHOUSE.id">{{ WAREHOUSE.name }}</option>
                        </ng-container>                        
                    </select>
                    <!--end::Select-->
                    
                    <!-- begin::Errors-->
                    <div
                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                        *ngIf="errors?.warehouse_id"
                    >
                        <p *ngFor="let error of errors.warehouse_id">{{ error }}</p>
                    </div>
                    <!-- end::Errors-->
                </div>

                <div class="fv-row mb-7"> 
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Proveedor: </label>
                    <!--end::Label-->

                    <!--begin::Select-->
                    <select 
                        class="form-control form-select-solid fw-bolder"
                        name="provider_id"
                        [(ngModel)]="provider_id"
                    >
                        <ng-container *ngFor="let PROVIDER of PROVIDERS">
                            <option [value]="PROVIDER.id">{{PROVIDER.razon_social}}</option>
                        </ng-container>                        
                    </select>
                    <!--end::Select-->
                    
                    <!-- begin::Errors-->
                    <div
                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                        *ngIf="errors?.provider_id"
                    >
                        <p *ngFor="let error of errors.provider_id">{{ error }}</p>
                    </div>
                    <!-- end::Errors-->
                </div>
                
            </div>
            <!--end::Scroll-->

            <!--begin::Actions-->
            <div class="text-center pt-15">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
                <button type="button" (click)="store()" class="btn btn-primary" data-kt-users-modal-action="submit">
                    <span class="indicator-label">Registrar</span>

                    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
                    <!-- <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
                </button>
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Modal body-->
</div>