<div class="card shadow-sm">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <div class="card-title">
                <span class="h3">Actualizar Empleado</span>
            </div>
        </div>
        <!--begin::Card title-->

        <!-- <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span> -->
        
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">

        <form id="kt_modal_add_user_form" class="form" action="#">
            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_add_user_header"
                data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                <!--begin::Input group-->
                <div class="fv-row row mb-7">
                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Nombre: </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="text"
                            name="name"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="name"
                        />
                        <!--end::Input-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Apellido: </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="text"
                            name="surname"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="surname"
                        />
                        <!--end::Input-->
                    </div>
                </div>
                
                <!--begin::Input group-->
                <div class="fv-row row mb-7">
                    <div class="col-md-4">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">N° de Documento:</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="text"
                            name="document"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="document"
                        />
                        <!--end::Input--> 
                    </div>

                    <div class="col-md-4">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">CUIL:</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="text"
                            name="jobcode"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="jobcode"
                        />
                        <!--end::Input--> 
                    </div>

                    <div class="col-md-4">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Fecha de Alta:</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="date"
                            name="date_entry"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="date_entry"
                        />
                        <!--end::Input--> 
                    </div>
                </div>

                <!--begin::Input group-->
                <div class="fv-row row mb-7">
                    <div class="col-md-4">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Teléfono: </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="phone"
                            name="phone"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="phone"
                        />
                        <!--end::Input-->                        
                    </div>

                    <div class="col-md-4">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Celular: </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="phone"
                            name="cell"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="cell"
                        />
                        <!--end::Input-->                        
                    </div>

                    <div class="col-md-4">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Código de empleado:</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="text"
                            name="code"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="code"
                        />
                        <!--end::Input--> 
                    </div>
                </div>


                <div class="fv-row row mb-7">
                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Email: </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="email"
                            name="email"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="email"
                        />
                        <!--end::Input-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Dirección: </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input
                            type="text"
                            name="address"
                            class="form-control mb-3 mb-lg-0"
                            [(ngModel)]="address"
                        />
                        <!--end::Input--> 
                    </div> 
                </div>

                <!--begin::Input group-->
                <div class="fv-row row mb-7">                    
                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Roles: </label>
                        <!--end::Label-->
                        <!--begin::Select-->
                        <select 
                            class="form-control form-select-solid fw-bolder"
                            name="role_selected"
                            [(ngModel)]="role_id"
                            placeholder="Selec. Rol"
                        >
                            <option value="">Selec. Rol</option>
                            <ng-container *ngFor="let rol of roles">
                                <option [value]="rol.id">{{ rol.name }}</option>                              
                            </ng-container>
                            
                        </select>
                        <!--end::Select-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Zona: </label>
                        <!--end::Label-->
                        <!--begin::Select-->
                        <select 
                            class="form-control form-select-solid fw-bolder"
                            name="zone_id"
                            [(ngModel)]="zone_id"
                        >
                            <option value="" disabled>Selec. Zona</option>
                            <option value="1">zona norte</option>
                            <option value="2">zona sur</option>
                        </select>
                        <!--end::Select-->
                    </div>
                </div>
                
                <div class="fv-row row mb-7">
                    <div class="col-md-6">
                        <!--begin::Label-->
                        <label class="fw-bold fs-6 mb-2"></label>
                        <!--end::Label-->
                        <!--begin::Checkbox-->
                        <div class="form-check">
                            <input name="create_user" 
                                [checked]="create_user === true"
                                [(ngModel)]="create_user" 
                                (click)="setIsUser()" 
                                class="form-check-input" 
                                type="checkbox" 
                                id="flexCheckDefault" 
                            />
                            <label class="form-check-label" for="flexCheckDefault" style="color: rgb(24, 24, 24); font-weight: bold;">
                                Generar Ususario
                            </label>
                        </div>
                        <!--end::Checkbox-->
                    </div>
                </div>

                <div *ngIf="create_user" class="card shadow-sm">
                    <div class="card-body">

                        <!--begin::Input group-->
                        <div class="fv-row row mb-7">
                            <div class="col-md-6">
                                <!--begin::Label-->
                                <label class="required fw-bold fs-6 mb-2">Contraseña: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input
                                    type="password"
                                    name="password"
                                    class="form-control mb-3 mb-lg-0"
                                    [(ngModel)]="password"
                                />
                                <!--end::Input--> 
                            </div>
                            <div class="col-md-6">
                                <!--begin::Label-->
                                <label class="required fw-bold fs-6 mb-2">Confirmar Contraseña: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="password"
                                    name="password_confirm"
                                    class="form-control mb-3 mb-lg-0"
                                    [(ngModel)]="password_confirm"
                                />
                                <!--end::Input-->                        
                            </div>
                        </div>
                    
                    </div>
                </div>

            </div>
            <!--end::Scroll-->            

            <div class="d-flex flex-stack pt-10"> 
                <!--begin::Wrapper-->
                <div class="mr-2">
                    <button type="button" (click)="back()" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous"> 
                        <i class="ki-duotone ki-arrow-left fs-4 me-1">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        Volver
                    </button>
                </div>
                <!--end::Wrapper-->

                <!--begin::Actions-->
                <div>
                    <button type="button" (click)="store()" class="btn btn-primary" data-kt-users-modal-action="submit">
                        <span class="indicator-label">Actualizar</span>    
                        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>                        
                    </button>
                </div>
                <!--end::Actions-->
            </div>

        </form>
        <!--end::Form-->

    </div>
    <!--end::Card body-->
</div>
