<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
           <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="row align-items-center">
                <div class="col-3">
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                                class="path2"></span></i> <input type="text" [(ngModel)]="search" (keyup.enter)="listClients()" name="search" data-kt-customer-table-filter="search"
                            class="form-control form-control-solid ps-12" placeholder="Buscar...">
                    </div>
                </div>
                <div class="col-3">
                    <select
                        class="form-control form-select-solid fw-bolder"
                        name="client_segment_id"
                        [(ngModel)]="client_segment_id"
                        placeholder="Selec. Segmento"
                    >
                        <option value="">Ninguno</option>
                            <ng-container *ngFor="let client_segment of client_segments">
                                <option [value]="client_segment.id">{{ client_segment.name }}</option>
                            </ng-container>
                    </select>
                    <div class="text-muted fs-7">Segmento de cliente</div>
                </div>
                <div class="col-3">
                    <select
                        class="form-control form-select-solid fw-bolder"
                        name="type"
                        [(ngModel)]="type"
                        placeholder="Selec. Tipo Cliente"
                    >
                        <option value="">Ninguno</option>                            
                        <option value="1">PERSONA</option>                            
                        <option value="2">EMPRESA</option>                            
                    </select>
                    <div class="text-muted fs-7">Tipo de cliente</div>
                </div>
                <div class="col-1 d-flex">
                    <button class="btn btn-primary btn-sm mx-1" (click)="listClients()">
                        <i class="ki-duotone ki-magnifier fs-2"><span class="path1"></span><span class="path2"></span></i> 
                    </button>
                    <button class="btn btn-dark btn-sm"  (click)="resetlistClients()">
                        <i class="ki-duotone ki-loading fs-2"><span class="path1"></span><span class="path2"></span></i> 
                    </button>
                </div>
                
            </div>
            <!--end::Search-->
        </div>                   
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                <!--begin::Add customer-->
                <button type="button" class="btn btn-primary" (click)="createClientCompany()">
                    + Agregar Empresa
                </button>
                <button type="button" class="btn btn-primary mx-2" (click)="createClientPerson()">
                    + Agregar Cliente
                </button>
                <!--end::Add customer-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0">

        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_customers_table"
                    style="width: 100%;">
                    <thead>
                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" role="row">                            
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Código</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Datos cliente</span><span
                                    class="dt-column-order"></span></th>                           

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Segmento</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Tipo documento</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Nº documento</span><span
                                    class="dt-column-order"></span></th>
                            
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="2" rowspan="1"
                                colspan="1" aria-label="Customer Name: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Estado</span><span
                                    class="dt-column-order"></span></th>

                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="5" rowspan="1"
                                colspan="1" aria-label="Created Date: Activate to sort" tabindex="0"><span
                                    class="dt-column-title" role="button">Fecha de registro</span><span
                                    class="dt-column-order"></span></th>

                            <th class="text-end min-w-70px dt-orderable-none" data-dt-column="6" rowspan="1" colspan="1"
                                aria-label="Actions"><span class="dt-column-title">Acciones</span><span
                                    class="dt-column-order"></span></th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        <ng-container *ngFor="let CLIENT of CLIENTS">
                            <tr>
                                <td>
                                    {{ CLIENT.code }}
                                </td>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-felx justify-content-start flex-column">
                                            <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{  CLIENT.full_name }}</a>
                                            <span class="text-muted fw-semibold text-muted d-block fs-7">Tipo: {{ CLIENT.type == 1 ? 'PERSONA' : 'EMPRESA' }}</span>
                                        </div>
                                    </div>
                                </td>
                                                            
                                <td>
                                    {{ CLIENT.client_segment.name }}
                                </td>

                                <td>
                                    {{ CLIENT.type_document }}
                                </td>

                                <td>
                                    {{ CLIENT.n_document }}
                                </td>

                                <td>
                                    <span class="badge badge-light-success" *ngIf="CLIENT.state == 1">Activo</span>
                                    <span class="badge badge-light-danger" *ngIf="CLIENT.state == 2">Inactivo</span>
                                </td>

                                <td>
                                    {{ CLIENT.created_format_at }}
                                </td>

                                <td class="">
                                    <a href="#" onclick="return false;" *ngIf="CLIENT.type == 1" (click)="editClientPerson(CLIENT)" class="bnt btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                        <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span  class="path2"></span></i>
                                    </a>

                                    <a href="#" onclick="return false;" *ngIf="CLIENT.type == 2" (click)="editClientCompany(CLIENT)" class="bnt btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                        <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span  class="path2"></span></i>
                                    </a>

                                    <a href="#" onclick="return false;" (click)="editClientCompany(CLIENT)" class="bnt btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                        <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span  class="path2"></span><span  class="path3"></span><span  class="path4"></span></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>                        
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <!-- pageSize: Debe coincidir con el index del contralador laravel -->
            <ngb-pagination
                    [collectionSize]="totalPages"
                    [(page)]="currentPage"
                    [pageSize]="25"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="loadPage($event)"
            >
            </ngb-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
